<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="static/tree-style/styles.css">

    
    {% if title %}
    <title>Legacy Lion - {{title}}</title>

    {% else %}
    <title>Legacy Lion</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <img src="static/profile_pics/logo.jpg" width="50" height="50"/>
            <a class="navbar-brand mr-6" href="/">Legacy Lion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home')}}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('about')}}">About</a>
              </div>
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('new_post')}}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('account')}}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout')}}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login')}}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register')}}">Register</a>
                {% endif %}
              </div>
            </div>
        </nav>
    </header>
    <div class="container"> 
      <div class="row">
        <div class="col-md-3">
          <h7>Follow instructions below:</h7>
          <br>
          <p style="padding-top: 20px;">NOTE: Inputs are not connected to SQL. Make sure you export your hierarchy prior to refreshing or exiting the page.</p>
          <p>1. Select the three dots to Edit the name, address, email, and more, or to add a new member of the family.</p>
          <img src="static/post_pics/Edit.jpg" width="150" height="150"/>
          <br>
          <p style="padding-top: 20px;">2. If you would like to add a picture, add the online image url source. At this moment, the upload option is not available.</p>
          <p>3. After you are done, select the arrow to submit (see below)</p>
          <img src="static/post_pics/Submit.jpg" width="150" height="100"/>
          <p style="padding-top: 20px;">4. Export your family hierarchy by selecting one of the export options in the upper menu of your family tree.</p>
          <img src="static/post_pics/Export.jpg" width="250" height="100"/>
        </div>
        <div class="col-md-9">
          <script src="static/data/OrgChart.js"></script>
          <div id="orgchart"></div>
        </div>
      </div>
    </div>
    <script src="static/plots/plot_three.js"></script>
</body>
</html>