<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css">

    
    {% if title %}
    <title>Legacy Lion - {{title}}</title>

    {% else %}
    <title>Legacy Lion</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <img src="static/profile_pics/logo.jpg" width="50" height="50"/>
            <a class="navbar-brand mr-6" href="/">Legacy Lion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home')}}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('about')}}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('new_post')}}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('account')}}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout')}}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login')}}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register')}}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true)%}
              {% if messages %}
              {% for category, message in messages%}
              <div class="alert alert-{{ category }}">
                  {{message}}
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag()}}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{form.submit(class="btn btn-outline-info")}}
                    </div>
                </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h4>App Features</h4>
                <ul class="list-group"> 
                  <a class="list-group-item list-group-item-light nav-item nav-link" href="{{ url_for('home')}}">View Memories</a>
                  <a class="list-group-item list-group-item-light nav-item nav-link" href="{{ url_for('new_post')}}">Create Memories</a>
                  <a class="list-group-item list-group-item-light nav-item nav-link" href="{{ url_for('familytree')}}" target="_blank"> View My Family Tree (prod)</a>
                  <a class="list-group-item list-group-item-light nav-item nav-link" href="{{ url_for('home')}}">Upcoming Events (prod)</a>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>